.text-center{
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container{
  width:650px;
  margin:auto;
}

input[type='text']{
  padding:4px;
  width:350px;
  height:30px;
  border-radius:5px;
  border:#ccc solid 1px;
}

form div{
  margin-bottom:15px;
  line-height:2.2em;
}

.submit {
  height: 30px;
  width: 80px;
  margin-top: 20px;
  text-align: center;
  background: #0074D9;
  border: 1px solid #080808;
  color: #bce8f1;
}